@font-face {
  font-family: "PocketMonk";
  src: url("../assets/PocketMonk-15ze.ttf");
}
@keyframes show-sprite {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}
@keyframes hide-sprite {
  from {
    height: 150px;
  }
  to {
    height: 0px;
  }
}
#button-container {
  display: flex;
  justify-content: center;
}
#button-container button {
  font-family: "PocketMonk", Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin: 20px 0;
  padding: 20px;
  cursor: pointer;
  background-color: hsla(0, 100%, 45%, 0.9);
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}
#button-container button:hover {
  transform: scale(1.1);
}
#button-container button:active {
  transform: scale(0.9);
}

.cards-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 600px);
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.show-sprite {
  animation: show-sprite 0.5s ease;
  overflow: hidden;
}

.hide-sprite {
  animation: hide-sprite 0.5s ease;
  overflow: hidden;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-shadow-box {
  position: absolute;
  width: 620px;
  height: 415px;
  z-index: -1;
  opacity: 0;
  transition: 0.5s ease;
  filter: blur(20px);
}

.card-container {
  position: relative;
  width: 600px;
  margin: 20px;
  cursor: default;
  border-radius: 15px;
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
}

.upper-part {
  background-color: hsla(0, 0%, 7%, 0.863);
  position: relative;
  text-align: center;
  font-family: "PocketMonk", "Arial", "sans-serif";
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.upper-part .for-hover {
  position: absolute;
  height: 120%;
  width: 120%;
  left: 0%;
  cursor: default;
  z-index: 3;
}
.upper-part span {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 10px;
  color: hsla(0, 0%, 7%, 0.863);
  opacity: 0.4;
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.3s ease;
  z-index: 6;
}
.upper-part span:hover {
  opacity: 0.8;
  color: hsla(0, 0%, 89%, 0.911);
  transform: scale(1.7);
}
.upper-part p {
  position: relative;
  font-weight: bold;
  font-size: 2.5rem;
  max-height: 45px;
  color: hsla(0, 0%, 89%, 0.911);
  text-align: center;
  width: 52%;
  text-shadow: 5px 5px black;
  transition: 0.3s ease;
  margin: auto;
  z-index: 5;
}
.upper-part p:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.upper-part .sprite {
  position: relative;
  height: 150px;
  padding: 0;
  margin: auto;
  transition: 0.5s ease;
  z-index: 2;
}
.upper-part .shadow-fog {
  position: absolute;
  height: 150%;
  width: 60%;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
  z-index: 1;
}
.upper-part .type-one-img {
  position: absolute;
  left: 0%;
  bottom: 0;
  height: 30px;
  z-index: 1;
}
.upper-part .type-two-img {
  position: absolute;
  right: 0%;
  bottom: 0;
  height: 30px;
  z-index: 1;
}

.lower-part {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: hsla(0, 0%, 7%, 0.863);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.lower-part .for-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0%;
  bottom: 0%;
  cursor: default;
  z-index: 3;
}
.lower-part p {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  color: hsla(0, 0%, 89%, 0.911);
  margin: 10px;
  text-align: center;
}

/*# sourceMappingURL=PokemonCard.css.map */
