@font-face {
  font-family: "PocketMonk";
  src: url("../assets/PocketMonk-15ze.ttf");
}
@font-face {
  font-family: "PokemonSolidFont";
  src: url("../assets/PokemonSolidNormal-xyWR.ttf");
}
@keyframes rotate-the-ball {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#title-container {
  height: 300px;
  position: relative;
  min-width: 960px;
}

#shiny-snorlax {
  position: absolute;
  height: 125px;
  width: 125px;
  right: 12%;
  top: 57%;
}

#eevee {
  position: absolute;
  height: 91px;
  top: 0;
  left: 34%;
}

#tangela {
  position: absolute;
  height: 100px;
  top: 65%;
  left: 12%;
}

#weedle {
  position: absolute;
  height: 80px;
  left: 12%;
  top: 7%;
}

#pikachu {
  position: absolute;
  height: 90px;
  right: 26.3%;
  top: 0%;
}

.loading-screen {
  position: fixed;
  display: none;
  left: 0;
  height: 120vh;
  width: 100vw;
  background-color: hsla(0, 0%, 0%, 0.952);
  z-index: 100;
  transform: translateY(-10%);
}
.loading-screen div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-screen div img {
  height: 35%;
  animation: rotate-the-ball 3s linear infinite;
}

.title {
  position: absolute;
  text-align: center;
  font-size: 5rem;
  text-shadow: 8px 8px hsla(219, 92%, 41%, 0.884);
  color: hsla(0, 2%, 84%, 0.801);
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 0;
  transition: 0.3s ease;
}
.title:hover {
  opacity: 0.8;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1s linear;
  max-width: 960px;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, hsla(219, 92%, 41%, 0.884), hsla(0, 1%, 37%, 0.856)) 1;
}
.form-container .form {
  color: hsla(0, 0%, 89%, 0.911);
  text-align: center;
  border-radius: 15px;
  padding: 30px 0px;
  padding-top: 0;
  padding-top: 0;
  width: 100%;
  height: 100%;
}
.form-container .form input[type=text] {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  width: 90%;
  border: 2px solid hsla(219, 92%, 41%, 0.884);
  transition: 0.3s ease;
}
.form-container .form input[type=text]:focus {
  outline: none;
}
.form-container .form input[type=text]:hover {
  transform: scale(1.1);
}
.form-container .form input[type=submit] {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5px;
  padding: 25px 45px;
  color: hsla(0, 0%, 89%, 0.911);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(to bottom right, hsla(219, 92%, 41%, 0.884) 50%, hsla(0, 0%, 99%, 0.541));
  transition: 0.3s ease;
}
.form-container .form input[type=submit]:hover {
  background-color: hsl(219, 90%, 45%);
  transform: scale(1.1);
}
.form-container .form input[type=submit]:active {
  transform: scale(0.9);
}

@keyframes show-dps-calculator {
  from {
    height: 0;
  }
  to {
    height: 720px;
  }
}
@keyframes hide-dps-calculator {
  from {
    height: 720px;
  }
  to {
    height: 0;
  }
}
.form-content-visible {
  animation: show-dps-calculator 1s ease-in-out forwards;
  overflow: hidden;
}

.form-content-hidden {
  animation: hide-dps-calculator 1s ease-in-out forwards;
  overflow: hidden;
}

.switch-buttons {
  font-family: "PokemonSolidFont", Arial, "sans-serif";
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, hsla(219, 92%, 41%, 0.884), hsla(0, 1%, 37%, 0.856)) 1;
  margin-bottom: 20px;
  overflow: hidden;
}
.switch-buttons span {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px black;
  width: 50%;
  padding: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}
.switch-buttons span:hover {
  transform: scaleY(1.2);
}

.input-container {
  position: relative;
  justify-content: center;
  width: 80%;
  margin: 30px 0px;
  margin: 30px auto;
  transition: 0.5s ease;
}

.suggestions {
  position: absolute;
  max-height: 0px;
  width: 95.5%;
  margin: 0 15px;
  overflow: hidden;
  overflow-y: auto;
  background: white;
  border-radius: 5px;
  transition: all 0.5s ease;
  z-index: 2;
}

.suggestions-visible {
  position: absolute;
  max-height: 200px;
  width: 95.5%;
  margin: 0 15px;
  overflow: hidden;
  overflow-y: auto;
  background: white;
  border: 1px solid hsla(0, 0%, 7%, 0.863);
  border-radius: 5px;
  transition: all 0.5s ease;
  z-index: 2;
}

.suggestion {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  padding: 10px;
  width: 100%;
}

.suggestion:hover {
  background-color: hsla(0, 0%, 89%, 0.911);
}

.display-level {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  width: 100%;
  transition: all 0.5s ease;
}
.display-level p {
  padding: 20px 5px;
  margin: 0;
}

.level-select-container {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: hsla(0, 0%, 89%, 0.911);
  font-weight: bold;
  width: 30%;
  margin: auto;
  margin-bottom: 19px;
  padding: 5px;
  background-color: hsla(0, 1%, 37%, 0.856);
  border-radius: 15px;
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 1;
}
.level-select-container:hover {
  transform: scale(1.1);
}

@keyframes show-level-suggestions {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}
@keyframes hide-level-suggestions {
  from {
    height: 150px;
  }
  to {
    height: 0px;
  }
}
.show-levels {
  animation: show-level-suggestions 0.3s ease;
  display: "block";
}

.hide-levels {
  animation: hide-level-suggestions 0.3s ease;
  display: "none";
}

.level-suggestions {
  position: absolute;
  left: 0%;
  width: 100%;
  display: none;
  max-height: 150px;
  overflow: hidden;
  overflow-y: scroll;
  border: 2px solid hsla(0, 0%, 7%, 0.863);
  border-top: none;
  border-radius: 5px;
  background-color: hsl(0, 1%, 37%);
}

.level {
  padding: 10px;
}

.level:hover {
  background-color: hsla(0, 0%, 7%, 0.863);
}

.arrow {
  color: hsla(0, 0%, 89%, 0.911);
  font-size: 2rem;
  border: none;
  transform: rotate(-90deg);
  background: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.active {
  transform: rotate(90deg);
}

.unactive {
  transform: rotate(-90deg);
}

.iv-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  max-height: 50px;
}
.iv-container select {
  width: 50px;
  height: 30px;
  margin: 5px;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px;
}
.checkbox-container div {
  margin: 5px;
}
.checkbox-container label {
  margin: 5px;
  text-shadow: 5px 5px black;
}
.checkbox-container input {
  width: 25px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.checkbox-container input:hover {
  color: hsla(0, 1%, 37%, 0.856);
}

/*# sourceMappingURL=DpsForm.css.map */
