$primary-color: hsla(0, 0%, 7%, 0.863);
$secondary-color: hsla(0, 1%, 37%, 0.856);
$decorative-color: hsla(219, 92%, 41%, 0.884);
$text-color: hsla(0, 0%, 89%, 0.911);
$transition-time: 0.5s;

@font-face {
    font-family: 'PokemonHollowFont';
    src: url('../assets/PokemonHollowNormal-pyPZ.ttf')
}

@font-face {
    font-family: 'PokemonUnknownFont';
    src: url('assets/AnilloOutline-rg6Kx.ttf')
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: hsla(0, 0%, 7%, 0.966);
    width: 100vw;
    border-bottom: 2px solid;
    border-image: linear-gradient(to left, black, $decorative-color, $decorative-color, black) 1;
    box-shadow: 0px 5px 5px black;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    color: $text-color;
    letter-spacing: 3px;
    overflow: hidden;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    h1 {
        font-family: 'PokemonUnknownFont', Helvetica, sans-serif;
        font-size: 1.5rem;
        display: flex;
        margin: 0;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    li {
        font-family: 'PokemonHollowFont', Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0px 35px;
        text-align: center;
        transition: $transition-time ease;
        cursor: pointer;
    }

    li:hover {
        background-color: $decorative-color;
        transform: scale(1.1);
    }

    img {
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 1250px) {
    .navbar-content {
        width: 100vw;
    }
}

.hide-view {
    position: absolute;
    left: -100%;
}