@font-face {
  font-family: 'PokemonFont';
  src: url('assets/PokemonHollowNormal-pyPZ.ttf')
}

body {
  font-family: 'PokemonFont', Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to bottom, hsl(0, 0%, 19%), hsl(0, 0%, 7%)); */
  background: linear-gradient(to bottom, hsl(0, 0%, 19%), hsl(0, 0%, 7%));
  /* background-image: url('assets/tangela3.png'); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  display: flex;
  justify-content: center;
}